%p
  %strong Members of both Houses register their vote for or against issues by physically going into two different areas either side of their debating chambers. This is known as <q>dividing the House</q>, while the areas concerned are <q>division lobbies</q>. Therefore, a vote is called a <q>division</q>.
  %br
  %cite From the UK Parliament's page on <a href="http://www.parliament.uk/about/how/business/divisions.cfm">modern divisions</a>.

%h3 Votes

When a vote is held the Speaker in the Commons - or Lord Speaker in the Lords - asks Members to call out whether they agree or not. The Speaker will then judge whether there is a clear result. If this cannot be determined, the Speaker or Lord Speaker calls a division by announcing 'clear the lobbies' (in the Commons) or 'clear the bar' (in the Lords).

%h3 Division bells

Members do not have to participate in a debate to be able to vote, and may be elsewhere in the Parliamentary estate. To notify Members that a division is taking place, division bells located throughout the Parliamentary estate and surrounding premises ring and TV screens with a specialised feed (called the 'annunciator service') display that a division is taking place.

There are different division bells for the Commons and Lords, and Members only vote in the divisions specific to their House. When the division bells ring Members have eight minutes to vote before the doors to the division lobbies are locked.

%h3 Division lobbies

During a division, Members literally divide into two separate areas. These are called the Aye and No lobbies in the Commons and the Contents and Not Contents lobbies in the Lords. As they pass through the lobbies, the Members have their names recorded by clerks and are counted by tellers. Once the lobbies are empty the Speaker (Commons) or the Lord Speaker (Lords) announces the result of the division. The whole process takes about fifteen minutes.

%h3 Tied votes

If the vote is tied - which is very unusual - in the Commons the Speaker has the casting vote. The Speaker casts his vote according to what was done in similar circumstances in the past. Where possible the issue should remain open for further discussion and no final decision should be made by a casting vote.

In the Lords, the Lord Speaker does not have a casting vote. Instead, the tied vote is resolved according to established rules (called the Standing Orders).

%h3 Deferred divisions

In the Commons, MPs can vote on a series of motions using ballot papers at a convenient time (currently from 12.30pm on Wednesdays) instead of holding divisions immediately at the end of a debate.  These are known as deferred divisions.

Deferred divisions can be used with motions on statutory instruments and on certain types of motion which are not subject to amendment. 

%h3 The Division List

The Division List records the way in which Members voted and is usually available to the public the following day in Hansard and on the Parliament website.

%p
  %em Read more in the <a href="http://www.parliament.uk/documents/upload/p09.pdf">House of Commons Information Office's factsheet: 'Divisions'</a> [PDF].

