%h3
  What's a division?
%p
  <a title="UK Parliament's page explaining Divisions" href="http://www.parliament.uk/about/how/business/divisions.cfm">What's a division?</a>

%h3
  Where does this data come from?
%p
  This site is generated from information from the Division Lists of the UK Parliament. Information presented here is generated from publicly available HTML files. 
%p
  Material on this site remains under <a href="http://www.parliament.uk/site_information/parliamentary_copyright.cfm">Parliamentary copyright</a>. Within these copyright constraints, you are encouraged to use and to explore the information provided.

%h3
  Who made this site?
%p
  Information used to make this site has been provided by the History of Parliament Trust, together with the Directorate of Information Services of the House of Commons and the Library of the House of Lords. 
%p
  The site is still undergoing development and experimentation, and further features may be added in due course. Work to improve the quality of the data is also ongoing.



      