!!! 5
%html
  %head
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}
    %title= @title + " (Division Lists)"
    %link{:rel=>"stylesheet", :href=>"default.css", :type=>"text/css", :media=>"screen"}
    %script{:src=>"http://html5shiv.googlecode.com/svn/trunk/html5.js"}
  %body
    %header
      %h1= @title
      %h2 Division Lists
    %section= yield
    %footer
    %nav
      %ul
        %li Search
        %li 
          %a{:href=>"http://www.parliament.uk/site_information/parliamentary_copyright.cfm"}
            &copy; UK Parliament
        %li 
          %a{:href=>"/disclaimer"}
            Disclaimer
      
    