%html
  %head
    %title Division Lists
    %link{:rel=>"stylesheet", :href=>"default.css", :type=>"text/css", :media=>"screen"}
  %body
    %ul#header
      %li link to index page
      %li something
    #content
      = yield
    %ul#footer
      %li link to disclaimer
      %li link to parly copyright
      
    