!!! 5
%html
  %head
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}
    %title= @title + " (Division Lists)"
    %link{:rel=>"stylesheet", :href=>"http://"+request.env["HTTP_HOST"]+"/default.css", :type=>"text/css", :media=>"screen"}
    %script{:src=>"http://html5shiv.googlecode.com/svn/trunk/html5.js"}
  %body
    %header
      <form action="search" id="search" method="get" name="search">I want to search Parliament<br />for a Division about<input accesskey="s" id="q" name="q" size="18" type="text" value="" /><input type="submit" value="Go!" /></form>
      %nav
        %a{:href=>"/"} More about this site
    %section= yield
    %footer
      = request.env["HTTP_HOST"]

      
      
    