%html
  %head
    %title Division Lists
  %body
    %ul#header
      %li link to index page
      %li something
    #content
      = yield
    %ul#footer
      %li link to disclaimer
      %li link to parly copyright
      
    