
- if @divisions.empty?
  %h2 We couldn't find anything
  = "Sorry! We couldn't find any divisions lists when searching for <em>" +  Rack::Utils.escape_html(@params[:q]) + "</em>."
  %p You may find a division if you search again using a longer word.
- else
  %p= "You searched for <em>" + @params[:q] + "</em>. " + @divisions.length.to_s + " division lists contain that text:"
  %ol.search-results
    - @divisions.each do |division|
      - divnum = division["value"]["number"]
      %li
        %a{ :href => "/divisions/number/#{divnum}" }= "Division #{divnum}"
        
    